<div class="row">
  <div class="col">
    <form action="">
      <div class="row mb-3">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="recipeName"
            [(ngModel)]="recipeName"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            name="recipeAmount"
            type="number"
            id="amount"
            class="form-control"
          />
        </div>
      </div>
      <div class="d-flex" style="gap: 8px">
        <button class="btn btn-defaut btn-sm">Clear</button>
        <button class="btn btn-danger btn-sm">Remove</button>
        <button type="submit" class="btn btn-primary btn-sm">Add</button>
      </div>
    </form>
  </div>
</div>
