<div class="container mt-3">
  <div *ngIf="data; else noData" class="row">
    <div class="col">
      <img
        *ngIf="data.photoUrl"
        class="float-left"
        src="{{ data.photoUrl }}"
        alt="{{ data.name }}"
      />
      <h1 class="d-flex align-items-end">
        <span class="me-auto">{{ data.name }}</span>
        <a
          class="btn btn-outline-danger btn-sm me-2 flex-shrink-0"
          href="#"
          (click)="remove($event)"
          >Delete Recepie</a
        >
        <a class="btn btn-outline-secondary btn-sm flex-shrink-0" href="#"
          >Edit Recipe</a
        >
      </h1>

      <hr />
      <h4>Description</h4>
      <div class="pre-text">{{ data.description }}</div>
      <hr />
      <h4>Ingredients</h4>

      <ul>
        <li *ngFor="let ing of data.ingredients">
          {{ ing.name }}: <strong>{{ ing.amount }}</strong>
        </li>
      </ul>
      <button class="btn btn-outline-primary btn-sm" (click)="addIngredients()">
        + Add to Shopping List
      </button>
      <hr />
      <h4>Directions</h4>
      <div class="pre-text">{{ data.directions }}</div>
    </div>
  </div>

  <ng-template #noData>
    <div class="text-center mt-5">
      <h2>Recipe not found.</h2>
      <a routerLink="/recipes">Browser more recipes.</a>
    </div>
  </ng-template>
</div>
