<div class="container mt-3 mb-3 background">
  <ng-container *ngIf="data; else noData">
    <div class="d-flex mb-3 align-items-start gap-3">
      <div *ngIf="data.photoUrl">
        <img
          class=""
          src="{{ data.photoUrl }}"
          alt="{{ data.name }}"
          class="img-responsive"
        />
      </div>

      <div class="flex-grow-1">
        <h1 class="d-flex align-items-end">
          <span class="me-auto">{{ data.name }}</span>

          <a
            class="btn btn-outline-danger btn-sm me-2 flex-shrink-0 btn-action"
            (click)="remove($event)"
            >Delete Recepie</a
          >
          <a
            class="btn btn-outline-secondary btn-sm flex-shrink-0 btn-action"
            routerLink="/recipes/{{ recipeId }}/edit"
            >Edit Recipe</a
          >
        </h1>
        <div class="pre-text">{{ data.description }}</div>
      </div>
    </div>

    <hr />
    <h4 class="mb-3">Ingredients</h4>

    <ng-container *ngFor="let ing of data.ingredients; let i = index">
      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="checkbox-{{ i }}-{{ ing }}"
        />
        <label class="form-check-label" for="checkbox-{{ i }}-{{ ing }}">{{
          ing
        }}</label>
      </div>
    </ng-container>

    <button class="btn btn-outline-primary btn-sm" (click)="addIngredients()">
      + Add all to Shopping List
    </button>
    <hr />
    <h4 class="mb-3">Directions</h4>
    <div class="pre-text">{{ data.directions }}</div>
  </ng-container>

  <ng-template #noData>
    <div class="text-center mt-5">
      <h2>Recipe not found.</h2>
      <a routerLink="/recipes">Browser more recipes.</a>
    </div>
  </ng-template>
</div>
