<header class="border-bottom shadow-sm">
  <nav class="navbar">
    <div class="container d-flex">
      <div class="navbar-header me-sm-auto">
        <a
          routerLink="/"
          class="navbar-brand d-inline-flex align-items-center gap-2"
          #headerEl
        >
          <span class="ti-book"></span>
          Recipes Book
        </a>
      </div>
      <div class="d-inline-flex align-items-center gap-3">
        <button
          routerLink="/shopping-list"
          class="p-0 btn btn-default position-relative"
        >
          <span class="ti-shopping-cart icon"></span>
          <span
            *ngIf="shoppingListNo"
            class="
              position-absolute
              top-0
              start-100
              translate-middle
              badge
              rounded-pill
              bg-danger
            "
          >
            {{ shoppingListNo }}
            <span class="visually-hidden">Shopping list item</span>
          </span>
        </button>
        <div *ngIf="isLoggedIn | async" class="dropdown text-end">
          <button
            class="btn d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="ti-user icon"></span>
          </button>
          <ul
            class="dropdown-menu text-small shadow-lg"
            aria-labelledby="dropdownUser1"
          >
            <li>
              <a class="dropdown-item" (click)="logout($event)" href="#"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
        <a
          *ngIf="showLoginBtn && !(isLoggedIn | async)"
          routerLink="/login"
          class="btn btn-primary btn-sm"
          >Login</a
        >
      </div>
    </div>
  </nav>
</header>
