<div class="card">
  <div
    *ngIf="data.photoUrl; else noImage"
    [ngStyle]="{
      backgroundImage: 'url(\' ' + data.photoUrl + '\')'
    }"
    class="img-square"
  ></div>
  <ng-template #noImage>
    <img
      src="assets/image-placeholder.jpeg"
      class="card-img-top"
      alt="{{ data.name }}"
    />
  </ng-template>

  <div class="card-body rounded-bottom">
    <h5 class="card-title">{{ data.name }}</h5>
    <p class="card-text text-truncate mb-0">{{ data.description }}</p>
    <a class="stretched-link" routerLink="/{{ data.id }}"></a>
  </div>
</div>
