.card {
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
  }
}

.img-square {
  padding-bottom: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
