<div class="container mt-3">
  <h2 class="mb-3">{{ recipeId ? 'Update' : 'Add' }} Recipe</h2>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="name"
        name="name"
        formControlName="name"
      />
      <div class="invalid-feedback">This field is mandatory</div>
    </div>
    <div class="mb-3">
      <label for="photoUrl" class="form-label">Photo Url</label>
      <input
        type="url"
        class="form-control form-control-sm"
        id="photoUrl"
        formControlName="photoUrl"
        name="photoUrl"
      />
      <div class="invalid-feedback">This field is mandatory</div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control form-control-sm"
        id="description"
        formControlName="description"
        name="description"
        rows="2"
      ></textarea>
      <div class="invalid-feedback">This field is mandatory</div>
    </div>

    <div class="mb-3">
      <label for="directions" class="form-label">Directions</label>
      <textarea
        class="form-control form-control-sm"
        id="directions"
        formControlName="directions"
        name="directions"
        rows="5"
      ></textarea>
      <div class="invalid-feedback">This field is mandatory</div>
    </div>

    <div class="mb-3">
      <label for="ingredients" class="form-label">Ingredients</label>
      <div formArrayName="ingredients">
        <ng-container
          *ngFor="let ingredientForm of ingredients.controls; let i = index"
        >
          <div class="d-flex gap-2 mb-2">
            <div class="flex-grow-1">
              <input
                type="text"
                class="form-control form-control-sm"
                [formControlName]="i"
                name="ingredientname"
                placeholder="Ingredient"
                (keydown)="onIngredientKeydown($event)"
                (paste)="onPaste($event)"
              />
              <div class="invalid-feedback">This field is mandatory</div>
            </div>
            <div>
              <button
                [disabled]="doing | async"
                class="btn btn-outline-danger btn-sm"
                (click)="remove(i)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </ng-container>
        <button
          (click)="addIngredient()"
          type="button"
          class="btn btn-default btn-sm"
        >
          + Add another Ingredient
        </button>
      </div>
    </div>
    <div class="mb-3 text-end">
      <button
        type="button"
        routerLink="/{{ recipeId }}"
        class="btn btn-default btn-sm"
      >
        Back
      </button>
      <button
        type="submit"
        [disabled]="!form.valid || (doing | async)"
        class="btn btn-primary btn-sm"
      >
        {{
          recipeId
            ? (doing | async)
              ? 'Saving...'
              : 'Save'
            : (doing | async)
            ? 'Submitting...'
            : 'Submit'
        }}
      </button>
    </div>
  </form>
</div>
