<div class="container">
  <h1 class="mb-3">Signup</h1>
  <form (ngSubmit)="signup(f)" #f="ngForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        ngModel=""
        name="email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        ngModel=""
        name="password"
      />
    </div>

    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    <a routerLink="/login">Already have an account? Login here</a>
  </form>
</div>
