/* You can add global styles to this file, and also import other style files */
.ng-touched.ng-invalid {
  border-color: #dc3545;

  ~ .invalid-feedback {
    display: block;
  }
}

hr {
  color: var(--bs-gray-500);
}

body {
  background-color: var(--bs-light);
}
